.toolbox span.strokeWidth {
  width: 38px;
  height: 21px;
}
.toolbox .stroke{
  width: 14px;
  height: 14px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABmJLR0QA/gD+AP7rGNSCAAAACW9GRnMAAAArAAAABADTLYY/AAAACXBIWXMAAABIAAAASABGyWs+AAAAbXpUWHRSYXcgcHJvZmlsZSB0eXBlIGlwdGMAAHjaVYurEcAwDMW4p/AIz5/YyTxJQFlB97+C/lLdCQiItv3oxMzMHJWsunrzAZsTHwO9eGpIzLRESGqUmGHZgOUZz0CAAPB6t1z++x0dKwoAdALhOR/KPmV3OQAAAAl2cEFnAAAADgAAAA4AsVvx9wAAACpJREFUKM9jfMjA8J+BDMACpRlJ1PefiRzbGBgYGEY1jmokD8DSKskJHQDm2AP/6ncBAAAAABZ0RVh0bGFiZWwAb3V0bGluZSAjM19ia2duZBth3F4AAAAASUVORK5CYII=');
}
.toolbox span.opacity {
  height: 20px;
}
.toolbox .flipX{
  width: 18px;
  height: 22px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAWCAYAAADNX8xBAAAABmJLR0QA/gD+AP7rGNSCAAAACW9GRnMAAACw/////QDLC8/bAAAACXBIWXMAAABIAAAASABGyWs+AAAAbXpUWHRSYXcgcHJvZmlsZSB0eXBlIGlwdGMAAHjaVYurEcAwDMW4p/AIz5/YyTxJQFlB97+C/lLdCQiItv3oxMzMHJWsunrzAZsTHwO9eGpIzLRESGqUmGHZgOUZz0CAAPB6t1z++x0dKwoAdALhOR/KPmV3OQAAAAl2cEFnAAAAEgAAABYAR1SrTgAAAWtJREFUOMvt07FrFEEUx/HPJoKIQdCANoF0sbCRNCta26bRQgKC4LQ2QcTCv8BCsLC6xcYiYquIWIthkRxBrK665oLNiQcJQRTHwlnYW3dzWmjlr3kzb37vO/Meu/zXP1PWeZCHY7iKyziBV3gWy+JTloc1vIhl8f1QUJaHa3iEj1hKoEr3cRunY1mMq+SRFsgKXsayWGy8LsdD3Enps3hbeeYbkCyWxdio/2WKPup/M+oPs6XVCa6k7Duj/vbMGSVwtTyOA9zADgbYR+xsrUOvcQmPuwxztdu3sjwsd/iOduSXsTUFwgUMszz0sjwsNAouNvYL6GGY6qZAlQImWR5C7fxDrYObmCTfr621tNzDbprNuRR3UbTVzRr2GbzBGIuHGedmgDZxEispbv4p6L2fX+46PuNpiuspvzMLtIc1nI9lMajlb9XWA6wm317bjO7iQSyLry0vvIfrtX3Ec5zCBr//izxpgP6efgBeVlpuYihFBQAAABR0RVh0bGFiZWwAZmxpcEhvcnpfYmtnbmSlh763AAAAAElFTkSuQmCC');
}
.toolbox .flipY{
  width: 22px;
  height: 18px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAASCAYAAABfJS4tAAAABmJLR0QA/gD+AP7rGNSCAAAACW9GRnMAAACYAAAAAQAyBBOhAAAACXBIWXMAAABIAAAASABGyWs+AAAAbXpUWHRSYXcgcHJvZmlsZSB0eXBlIGlwdGMAAHjaVYurEcAwDMW4p/AIz5/YyTxJQFlB97+C/lLdCQiItv3oxMzMHJWsunrzAZsTHwO9eGpIzLRESGqUmGHZgOUZz0CAAPB6t1z++x0dKwoAdALhOR/KPmV3OQAAAAl2cEFnAAAAFgAAABIAuKksXAAAAV5JREFUOMvVkq9LBFEQxz97HiiIYhGRAy2CFrEIq2i3ma6cooK+v8JfQdFqNWwVDSoGg/FAUDYoVm0KFxSDoOFO5J7hZuHtsLu3YPILy8x8Z/Y7w7yB/wYvFvhmD1jPqN+3YbCRR7ig4h2gnlL7Dew6Q3TkFrZh0ABMSu2qDQO3adPzzVDeiQGOgZriasK7Q1hgzPNNfy5hGwZNoKzosvAad8B5krAn+0rKXQOzwA0wo5pHe+4GvoABGwZv7VYRYVFsJaOmV+yoThQd/xOYBKrAAnAAXAKHwC0wDPwA08CE/DOS1tEV7hE7KHYeeBbBl9j+fFOQna8J9aSFs1ZxpKyLE883c8AK8GDD4DWvsE/r4RA7pfL3wJX4S0kChRTuTHGnqrbq+BdJt5wkXAFKiisRv45HYJnW440D71pE33En8AF0JTSsA31AI7rjLOiJN1NEEX67raKgqOIt+f6MX+MfVCvS69mVAAAAFHRFWHRsYWJlbABmbGlwVmVydF9ia2duZFnx/i8AAAAASUVORK5CYII=');
}
