<span class="options"></span>
<span class="bringForward"></span>
<span class="sendBack"></span>
<span class="copyStyle"></span>
<span  class="pasteStyle"></span>
<span  class="copyContent"></span>
<span class="trash"></span>

<br/>

<span class="strokeWidth" >
	<div class="select select-fancy select-fancy-noimage">
	  <select class="strokeWidth">
		  <% selectStrokeWidth.forEach(function(option){ %>
			<option value="<%= option %>"  <%= (option === parseInt(strokeWidth) && stroke)? 'selected' : void 0  %>><%= option %></option>
			<% }) %>
	  </select>
	</div>
</span>
<span  class="boxBackgroundColor"  > </span>
<span class="boxBorder"></span>
<span class="boxShadow"></span>
<span class="opacity" >
<div class="select select-fancy select-fancy-noimage">
  <select class="opacity">
	  <% selectOpacity.forEach(function(option){ %>
		<option value="<%= option %>"  <%= option === parseFloat(opacity) ? 'selected' : void 0  %>><%= option %></option>
<% }) %> </select></div></span>
<span class="flipX"></span>
<span class="flipY"></span>
