
<div id="stage"></div>
<div id="tools"></div>
<div id="addPageObjects"></div>
<div id="pageNotes"></div>
<div id="pageType"></div>
<div id="actionWidget"></div>
<!--
<img src="https://www.google.co.il/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png"/>
-->

<div id="fonInit">
	<div style=" font-family: 'Alef'">שלום עולפ</div>
	<div style="font-family: 'Alef';font-weight:bold">עולפ</div>  
			
	<div style=" font-family: 'nootregular'">שלום עולפ</div>
	<div style="font-family: 'nootregular';font-weight:bold">עולפ</div>  
			
	<div style=" font-family: 'mirimedium'">שלום עולפ</div>
	<div style="font-family: 'mirimedium';font-weight:bold">עולפ</div>  
			
	<div style=" font-family: 'stam_ashkenaz_clmmedium'">שלום עולפ</div>
	<div style="font-family: 'stam_ashkenaz_clmmedium';font-weight:bold">עולפ</div>  
			
	<div style=" font-family: 'carmela'">שלום עולפ</div>
	<div style="font-family: 'carmela';font-weight:bold">עולפ</div>  
</div>
