#bookPreview{
	background :black;
	min-height: 70px;
	color:white;
}
.page > div > span {
    display: flex;
}
.bookPreview .left{
	    position: absolute;
    width: 7%;
    text-align: center;
    left: 0px;
}

.bookPreview .right{
	width: 93%;
    height: 100%;
    position: relative;
    display: inline-block;
    right: 0px;
    position: absolute;   
}
.bookPreview .content{
    height: 2em;
    width: 90%;
    margin: 0 auto;
	justify-content: space-between;
    display: flex;
}

.bookPreview .prev,
.bookPreview .next{
    display: inline-block;
    position:absolute;
	font-size: 2em;
    font-weight: bold;
    transform: scaleY(2.2) translateY(44%) ;
}
.bookPreview .prev{
	left: 0px;
    top: 0px;
}
.bookPreview .next{
	right:0px;
}
.bookPreview .page > div {
    display: flex;
}
.bookPreview img[data-active="true"] {
    box-shadow: 0px 3px 8px yellow;
}
.bookPreview img {
	background-color : white;
    box-shadow: 0px 1px 2px #444;
    cursor : pointer;
    max-height:50px;
}

.bookPreview .page {
    text-align: center;
   }
.bookPreview .moveUp,
.bookPreview .moveDown{
	font-weight:bold;
/*
	padding: 0 0.5em;
*/
	cursor : pointer;
}
.bookPreview .delete,
.bookPreview .new{
	min-width: 2em;
    background: red;
    display: inline;
    padding:1em;
    margin-bottom:.1em;
    display:inline-block;
}
.bookPreview span.moveUp + span {
    font-size: 12px;
}
