#bookPreview{
	background :black;
/*
	    min-height: 110px;
*/
	    color:white;
}

.bookPreview .left{
	    position: absolute;
    width: 7%;
    text-align: center;
    left: 0px;
}

.bookPreview .right{
	width: 93%;
    height: 100%;
    position: relative;
    display: inline-block;
    right: 0px;
    position: absolute;
    
}
.bookPreview .content{
    height: 2em;
    width: 90%;
    margin: 0 auto;
	justify-content: center;
    display: flex;
}

.bookPreview .prev,
.bookPreview .next{
    display: inline-block;
    position:absolute;
	font-size: 2em;
    font-weight: bold;
    transform: scaleY(2.2) translateY(44%) ;
}
.bookPreview .prev{
	left: 0px;
    top: 0px;
}
.bookPreview .next{
	right:0px;
}
.bookPreview .delete,
.bookPreview .new{
	min-width: 2em;
    background: red;
    display: inline;
    padding:1em;
    margin-bottom:.1em;
    display:inline-block;
}
